<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="Liliya Licensing Transport Test Host"
        android:supportsRtl="false" />
</manifest>
