<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <application
        android:name=".LiliyaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_liliya"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="ai.onnxruntime.TelemetryInitializer"
            tools:node="remove" />
        <activity
            android:name=".LiliyaActivity"
            android:exported="false" />
        <activity
            android:name=".LiliyaProvisioningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
